{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">`  
  <head>
    
    <!--
    AngularJS, Django, and Jquery File-upload App.
                Sandeep Jadoonanan
    -->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Form</title>
    <meta name="description" content="An sample web app that uploads images using the jquery-file-upload plugin. This app uses Django in the backend, and AngularJS in the frontend.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- Specific page styles -->
    <link rel="stylesheet" href="{% static 'multiupload/css/view.css' %}">
    <link rel="stylesheet" href="{% static 'multiupload/css/site.css' %}">  
      
    <style>
    /* Hide Angular JS elements before initializing */
    .ng-cloak {
        display: none;
    }
    </style>
    
  </head>

  <body>
    
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">AngularJS,&nbsp;&nbsp;&nbsp;Django,&nbsp;&nbsp;&nbsp;Jquery-file-upload</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="/">Upload some images!</a></li>
                <li class="active"><a href="/view/">View uploaded images</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="spacer-lg"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-md-10">
          
          {% verbatim %}
            
           
          <div id="imgViewApp" ng-app="imgViewApp" ng-controller="ImageViewController">   
              
             
            <!-- Display the ul while there are images -->
            <ul class="list-unstyled" ng-show="images.length">
              
              <li ng-repeat="image in images">
                <div class="panel panel-default inline-image-panel">
                  <div class="panel-heading">
                    
                    <!-- Image Panel Header -->
                    <h3 class="panel-title">
                      <a ng-href="{{ image.url }}" target="_blank">
                        {{ image.name }}
                      </a>
                    </h3>
                    
                    <button type="button" class="close" ng-click="deleteImage($index)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
                  <!-- Image Panel Body -->
                  <div class="panel-body text-center">
                    <a ng-href="{{ image.url }}" target="_blank">
                      <img ng-src="{{ image.thumbnailUrl }}">
                    </a>
                  </div>
                  
                  <!-- Image Panel Footer -->
                  <div class="panel-footer text-center">
                    <h5>Added on: <small>{{ image.dateAdded }}</small></h5>
                  </div>
                </div> <!-- /.panel -->
              </li>
              
            </ul>
            
            <!-- Display this div when there are no images -->
            <div class="jumbotron" ng-hide="occupied">
              <h1>Want to see more images?</h1>
              <p>...</p>  
              <p><a class="btn btn-primary btn-lg" role="button" href="/view/">Refresh the page!</a></p>
            </div>
            
          </div>  <!-- /.ng-app -->
          {% endverbatim %}
          
          
        </div>
        
        <div class="col-md-1"></div>
      </div>
      
      
      <footer class="text-center">
        <p class="light-grey">&copy; 2014 Sandeep Jadoonanan</p>
      </footer>
      
    </div> <!-- ./container -->
      
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script-->
    <script type="text/javascript" src="{% static 'multiupload/js/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'multiupload/js/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'multiupload/js/angular-animate.min.js' %}"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'multiupload/js/jquery.fileupload-angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'multiupload/js/viewApp.js' %}"></script>
    <script type="text/javascript" src="{% static 'multiupload/js/view.js' %}"></script>
     
  </body>
</html>