/*
    AngularJS, Django, and Jquery File-upload App.
                Sandeep Jadoonanan
*/

#thefiles {
  display: none;
}

#thefilesBrowse {
  cursor: pointer;
}

.h3-text {
  font-size: 24px;
}

.tableWrapper {
  border: 1px solid rgb(226, 226, 226);
}