/*
    AngularJS, Django, and Jquery File-upload App.
                Sandeep Jadoonanan
*/

footer {
  margin-top: 70px;
}

.spacer-lg {
  width: 100%;
  height: 70px;
}

.spacer-xlg {
  width: 100%;
  height: 90px;
}

.navbar-nav>.active>a {
  background-color: #2E2E2E !important;
  color: #777;
}

.light-grey {
  color: #BBBBBB;
}
