/*
    AngularJS, Django, and Jquery File-upload App.
                Sandeep Jadoonanan
*/

#imgViewApp {
  
}

#imgViewApp ul li {
  display: inline-block;
  margin: 10px;
}

.inline-image-panel {
  display: inline-block;
}

.inline-image-panel .panel-title {
  margin-right: 15px;
  display: inline-block;
}

.inline-image-panel .panel-body {
  padding: 15px 30px;
}

.inline-image-panel .panel-footer {
  padding: 4px 15px;
}

.img-loading {
  background: url("/img/loading.gif") no-repeat 50% 50%;
}

/* --------------- Styles for 'ngAnimate' ---------------- */
.ng-enter {
  -webkit-transition: .1s;
  transition: .1s;
  opacity:0;
}

.ng-enter-active {
  opacity:1;
}

.ng-leave {
  -webkit-transition: .5s;
  transition: .5s;
}

.ng-leave-active  {
  opacity:0;
}
/* -------------- / Styles for 'ngAnimate' --------------- */

